
    <div class="row">
    <div class="col-md-3" id="survey-list-analytics">
        <ul>
            <li><a>Survey 1</a></li>
            <li><a>Survey 2</a></li>
            <li><a>Survey 3</a></li>
            <li><a>Survey 4</a></li>
            <li><a>Survey 5</a></li>
            <li><a>Survey 6</a></li>

        </ul>

    </div>

    <div class="col-md-9 panel panel-default">
        <h2>Make surveys with us today</h2>
        <p>More questions, more money.</p>

    </div>
    </div>