
    <div class="answer-box panel">
        <div class="panel-head">
            Answer this question to earn free money.
        </div>
        <div class="panel-body">
            <h1>What is your favourite part of Wildhacks2014?</h1>
        </div>
        <ul class="list-group">
            <li class="list-group-item radio" data-initialize="radio">
                <label class="radio-custom">
                    <input class="sr-only" name="radioEx1" type="radio" value="option1">
                    Cup Stackathon
                </label>

            </li>
            <li class="list-group-item radio" data-initialize="radio">
                <label class="radio-custom">
                    <input class="sr-only" name="radioEx1" type="radio" value="option2">
                    Photobooth
                </label>

            </li>
            <li class="list-group-item radio" data-initialize="radio">
                <label class="radio-custom">
                    <input class="sr-only" name="radioEx1" type="radio" value="option3">
                    Red Bull Delivery
                </label>

            </li>
            <li class="list-group-item radio" data-initialize="radio">
                <label class="radio-custom">
                    <input class="sr-only" name="radioEx1" type="radio" value="option4">
                    Sleeplessness
                </label>

            </li>
        </ul>

    </div>

