
    <div class="sign-in-box jumbotron">
        <h1>Heading</h3>
        <h3>subheading.</h5>
        <a href="/auth/venmo">
        <div class="sign-in-button">
            Sign in with <img class="venmo-pic" src="http://brand.venmo.com/img/logowhite.png">
        </div>
        </a>
    </div>
