

<div class="sign-in-box jumbotron">
        <h2>Take surveys for money rewards</h2>
        <p>More questions, more money</p>
        <a href="/auth/venmo">
        <div class="sign-in-button">
            Sign in with <img class="venmo-pic" src="http://brand.venmo.com/img/logowhite.png">
        </div>
        </a>
</div>
