<center>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p class="logo-font">surveymo</p>
<p class="logo-font">venmo</p>
<p>This is surveymo. We&apos;ll pay you to answer easy questions!</p>
<a href="/auth/venmo">
  <button type = "button" class="btn btn-default">
    Log in with Venmo
  </button>
</a>
</center>