<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Amaranth:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><i><text class="logo-font"><text class="survey-font">survey</text>mo</text></i></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/surveys/new">New Question</a></li>
            <li><a href="#answers">My Answers</a></li>
          </ul>
            <p class="navbar-text navbar-right">Logged in as</p>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">
  {{{body}}}
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</html>
