venmoblue = #3D95CE
lightgrey = #E7EBEE
coolgrey = #DEE2E5
grey = #6E787F
darkgrey = #283036
surveymogreen = #7EBF00
white = #FFFFFF
bordercolor = #e7e7e7


a:hover {
  text-decoration: none;
}

.venmo-pic {
  height: 10px
}

.sign-in-button {
  border: venmoblue 1px solid
  border-radius 3px
  padding: 10px
  width: 200px
  margin: auto
  background-color venmoblue
  color: white
}

.sign-in-box {
  margin: auto
  margin-top : 90px
  border: bordercolor 1px solid
  border-radius: 5px
  padding: 10px
  text-align center
  width: 500px
  height: 250px
  background-color white
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
}


.navbar-brand {
  font-size: 24px
}

.navbar {
  background-color white
  background-image none
}

.survey-font {
  color: surveymogreen;
}

#logo-font {
  color: venmoblue;
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
}

.logo-font {
  color: venmoblue;
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
}

body {
  font: 14px Helvetica, Arial, sans-serif;
}

.content{
  margin: auto;
  width: 600px;
}

a {
  color: #00B7FF;
}