.settings-box {
  margin: auto;
  margin-top: 20px;
  padding: auto;
  width: 600px;
  background-color: #fff;
  font-family: "Roboto Slab";
}
.bubble {
  position: relative;
  width: 600px;
  height: 200px;
  padding: 10px;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #7ebf00 solid 5px;
}
.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 11px 0 11px 41px;
  border-color: transparent #fff;
  display: block;
  width: 0;
  z-index: 1;
  right: -41px;
  top: 148px;
}
.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 0 15px 45px;
  border-color: transparent #7ebf00;
  display: block;
  width: 0;
  z-index: 0;
  right: -50px;
  top: 144px;
}
.answer-button:hover,
.next-button:hover,
.confirm-button {
  background-color: #337cab;
}
.answer-button,
.next-button,
.confirm-button {
  border: #3d95ce 1px solid;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  width: 200px;
  float: right;
  background-color: #3d95ce;
  color: #fff;
}
.next-button input {
  border: none;
  background: none;
  color: none;
}
.radio-answer {
  width: 100%;
}
textarea {
  border: none;
  resize: none;
  overflow: auto;
  outline: none;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#survey-list-analytics ul {
  list-style-type: none;
}
#survey-list-analytics ul a:hover {
  background-color: #dee2e5;
}
#survey-list-analytics ul a {
  display: block;
  text-decoration: none;
  background: #e7ebee;
  border-bottom: 5px solid #fff;
  border-radius: 3px;
  padding: 10px;
}
#survey-list-analytics {
  color: #283036;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
.venmo-pic {
  height: 10px;
}
.sign-in-button:hover {
  background-color: #337cab;
}
.sign-in-button {
  border: #3d95ce 1px solid;
  border-radius: 3px;
  padding: 10px;
  width: 200px;
  margin: auto;
  background-color: #3d95ce;
  color: #fff;
}
.sign-in-box {
  margin: auto;
  margin-top: 70px;
  border: #e7e7e7 1px solid;
  border-radius: 5px;
  padding: auto;
  text-align: center;
  width: 500px;
  height: 300px;
  background-color: #fff;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.15), 0 1px 5px rgba(0,0,0,0.075);
}
.answer-box {
  margin: auto;
  margin-top: 20px;
  padding: auto;
  width: 600px;
  background-color: #fff;
  font-family: "Roboto Slab";
}
.navbar-brand {
  font-size: 24px;
}
.navbar {
  background-color: #fff;
  background-image: none;
}
.survey-font {
  color: #7ebf00;
}
#logo-font {
  color: #3d95ce;
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
}
.logo-font {
  color: #3d95ce;
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
}
input[type=range] {
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #daa520;
  margin-top: -4px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
body {
  font: 14px "Roboto Slab", Helvetica, Arial, sans-serif;
}
.content {
  margin: auto;
  width: 600px;
}
a,
a:hover {
  color: #283036;
}
