.logo-font {
  color: #3d95ce;
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
  font-style: italic, bold;
}
body {
  font: 14px Helvetica, Arial, sans-serif;
}
.content {
  margin: auto;
  width: 600px;
}
a {
  color: #00b7ff;
}
