venmoblue = #3D95CE
lightgrey = #E7EBEE
coolgrey = #DEE2E5
grey = #6E787F
darkgrey = #283036
surveymogreen = #7EBF00
white = #FFFFFF

.survey-font {
  color: surveymogreen;
}

.logo-font {
  color: venmoblue;
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
}

body {
  font: 14px Helvetica, Arial, sans-serif;
}

.content{
  margin: auto;
  width: 600px;
}

a {
  color: #00B7FF;
}