<form action="/surveys" method="post">
  <div class="answer-box">
    <div class="panel-heading">
      Ask a question.
    </div>
    <div class="bubble">
      <h1>
        <form>
          <div class="form-group">
            <textarea autofocus id="question-input" rows="3" name="question" placeholder="Type in the question here"></textarea>
          </div>
        </form>
      </h1>
    </div>
    <ul class="list-group">
      <li class="list-group-item" data-initialize="radio">
        <textarea class="" rows="1" name="firstChoice" placeholder="Provide the first mulitiple choice answer"></textarea>
      </li>
      <li class="list-group-item" data-initialize="radio">
        <textarea class="" rows="1" name="secondChoice" placeholder="...and the second"></textarea>
      </li>
      <li class="list-group-item" data-initialize="radio">
        <textarea class="" rows="1" name="thirdChoice" placeholder="...the third"></textarea>
      </li>
      <li class="list-group-item" data-initialize="radio">
        <textarea class="" rows="1" name="fourthChoice" placeholder="...and the fourth"></textarea>
      </li>
    </ul>
    <a href="/surveys/settings">
      <div class="next-button">
        <input type=submit value="Next">
      </div>
    </a>
  </div>
</form>

