<h2>Make a question!</h2>
<div class="input-group">
  <input type="text" class="form-control" placeholder="Question">
  <span class="input-group-addon">?</span>
</div><br />
  <input type="text">
<br />
<div class="input-group">
  <span class="input-group-addon">$</span>
  <input type="text" class="form-control" placeholder="Starting Balance">
</div>
<center>
<br />
<a href= "#">
<button type="button" class="btn btn-default">Let's go!</button>
</a>
</center>