<form action="/surveys" method="post">
  <div class="answer-box">
    <div class="panel-heading">
      Ask a question.
    </div>
    <div class="bubble">
      <h1>
        <form>
          <div class="form-group">
            <textarea autofocus id="question-input" rows="2" placeholder="Type in the question here"></textarea>
          </div>
        </form>
      </h1>
    </div>
    <ul class="list-group">
      <li class="list-group-item radio" data-initialize="radio">
      <label class="radio-custom">
        <input class="sr-only" name="radioEx1" type="radio" value="option1">
        <textarea class="" rows="1" placeholder="Provide the first mulitiple choice answer"></textarea>
      </label>
      </li>
      <li class="list-group-item radio" data-initialize="radio">
      <label class="radio-custom">
        <input class="sr-only" name="radioEx1" type="radio" value="option2">
        <textarea class="" rows="1" placeholder="and the second"></textarea>
      </label>
      </li>
      <li class="list-group-item radio" data-initialize="radio">
      <label class="radio-custom">
        <input class="sr-only" name="radioEx1" type="radio" value="option3">
        <textarea class="" rows="1" placeholder="the thrid"></textarea>
      </label>
      </li>
      <li class="list-group-item radio" data-initialize="radio">
      <label class="radio-custom">
        <input class="sr-only" name="radioEx1" type="radio" value="option4">
        <textarea class="" rows="1" placeholder="...and the last"></textarea>
      </label>
      </li>
    </ul>
    <div class="next-button">
      <input type=submit value="Next">
    </div>
  </div>
</form>

