<div class="settings-box ">

    <div class="panel">
        <div class="panel-heading">
            Pick pay out per response.
        </div>

        <label class="radio-custom radio-inline" data-initialize="radio" id="myCustomRadio5">
            <input class="sr-only" name="radioEx2" type="radio" value="option1"> A penny
        </label>
        <label class="radio-custom radio-inline" data-initialize="radio" id="myCustomRadio6">
            <input class="sr-only" name="radioEx2" type="radio" value="option2"> A quarter
        </label>
        <label class="radio-custom radio-inline" data-initialize="radio" id="myCustomRadio7">
            <input class="sr-only" name="radioEx2" type="radio" value="option3"> A dollar
        </label>
    </div>

    <div class="panel">
        <div class="panel-heading">
            Set starting balance.
        </div>
        <form method="post" action="demoform.asp">
            <label for="payment">$</label>
            <input type="range" name="payment" id="payment" value="50" min="0" max="20">
        </form>
    </div>



    <div class="panel-heading">
        Estimated Yield: 100 response
    </div>





    <div class="confirm-button">
        Confirm
    </div>

</div>